html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.page-header
        h1 Budget Vs. Actual
          div
            .row
              .col-sm-3 .col-sm-6
              | Building Name
              .col-sm-6 .col-sm-3
              |  Budget
              .col-sm-3 .col-sm-3
              | Actual
          div
            .row
              .col-sm-3 .col-sm-6
              | **injection spot**
              .col-sm-6 .col-sm-3
              | **injection spot**
              .col-sm-3 .col-sm-3
              | **injection spot**

      div.form-group
        div.col-sm-offset-4.col-sm-8
        div.pull-right
          a(href="/") Return to home page

