html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Hello!

        if user
          p Welcome, #{user.fullName}
          p
            //- a.small(href="profile") Edit my profile
          form(action='/logout', method='POST')
            button.btn.btn-default(type="submit") Logout
            input(name='_csrf', type='hidden', value=csrfToken)
          div.btn-toolbar(role='toolbar', aria-label='selectPage') Select Page
          form(action='/newLease', method='GET')
            button.btn-group(role='group', aria-label='newLease') New Lease
          form(action='/report', method='GET')
            button.btn-group(role='group', aria-label='report') Reports
          form(action='/budget', method='GET')
            button.btn-group(role='group', aria-label='budget') Budget
          form(action='/actual', method='GET')
            button.btn-group(role='group', aria-label='actual') Actual Cam Amounts

        else
          p Welcome to Lease Controls.
          p
            a.btn.btn-primary(href="/login") Login now
          p
            span.small Don't have an account?
            span &nbsp;
            a.small(href="/register") Register now


